<table class="table table-bordered table-striped" id="comment_<%= comment.id %>" <% if @comment and @call and comment.id == @call.comments.last.id %>style="display: none;"<% end %>>
	<tr>
		<th style="width: 30%">Commented By:</th>
		<td style="width: 70%"> <%= current_user.email %></td>
	</tr>
	<tr>
		<th>Comment:</th>
		<td><%= comment.body %></td>
	</tr>
	<tr>
		<th>Time:</th>
		<td><%= comment.created_at %></td>
	</tr>
</table>