

<div id="all_calls" class="calls buffer">
	<%= render 'calls_partial', :title => "", :calls => @calls, :call_ref => calls_path(:format => :js), :call_update_target => "all_calls" %>
</div>

<%= render 'home/call_modal' %>